auth:
  enabled: false
  # password: "mysecurepassword"

master:
  persistence:
    enabled: false
    size: 1Gi
  resources:
    requests:
      memory: "100Mi"
      cpu: "50m"
    limits:
      memory: "200Mi"
      cpu: "100m"

replica:
  replicaCount: 2
  persistence:
    enabled: false
    size: 1Gi
  resources:
    requests:
      memory: "100Mi"
      cpu: "50m"
    limits:
      memory: "200Mi"
      cpu: "100m"
